./Day At Dentist tryna build/A Day At The Dentist_Data/sharedassets2.assets.resS
./Day_At_The_Dentist/A Day At The Dentist/A Day At The Dentist/bin/ARM/Debug/UnityPlayer.dll
./Day_At_The_Dentist/A Day At The Dentist/A Day At The Dentist/bin/x64/Debug/AppX/Data/sharedassets2.assets.resS
./Day_At_The_Dentist/A Day At The Dentist/A Day At The Dentist/bin/x64/Debug/AppX/UnityPlayer.dll
./Day_At_The_Dentist/A Day At The Dentist/A Day At The Dentist/bin/x64/Debug/UnityPlayer.dll
./Day_At_The_Dentist/A Day At The Dentist/A Day At The Dentist/bin/x64/Debug/UnityPlayer_UAP_x64_Debug_dotnet.pdb
./Day_At_The_Dentist/A Day At The Dentist/A Day At The Dentist/bin/x86/Debug/AppX/Data/sharedassets2.assets.resS
./Day_At_The_Dentist/A Day At The Dentist/A Day At The Dentist/bin/x86/Debug/AppX/UnityPlayer.dll
./Day_At_The_Dentist/A Day At The Dentist/A Day At The Dentist/bin/x86/Debug/UnityPlayer.dll
./Day_At_The_Dentist/A Day At The Dentist/A Day At The Dentist/Data/sharedassets2.assets.resS
./Day_At_The_Dentist/A Day At The Dentist/bin/ARM/Debug/UnityPlayer.dll
./Day_At_The_Dentist/A Day At The Dentist/bin/x64/Debug/AppX/Data/sharedassets2.assets.resS
./Day_At_The_Dentist/A Day At The Dentist/bin/x64/Debug/AppX/UnityPlayer.dll
./Day_At_The_Dentist/A Day At The Dentist/bin/x64/Debug/UnityPlayer.dll
./Day_At_The_Dentist/A Day At The Dentist/bin/x64/Debug/UnityPlayer_UAP_x64_Debug_dotnet.pdb
./Day_At_The_Dentist/A Day At The Dentist/bin/x86/Debug/AppX/Data/sharedassets2.assets.resS
./Day_At_The_Dentist/A Day At The Dentist/bin/x86/Debug/AppX/UnityPlayer.dll
./Day_At_The_Dentist/A Day At The Dentist/bin/x86/Debug/UnityPlayer.dll
./Day_At_The_Dentist/A Day At The Dentist/Data/sharedassets2.assets.resS
./Library/PlayerDataCache/Win/Data/sharedassets2.assets.resS
./Library/PlayerDataCache/WindowsStoreApps/Data/sharedassets0.assets.resS
./Day At Dentist tryna build/A Day At The Dentist_Data/sharedassets2.assets.resS
./Day_At_The_Dentist/A Day At The Dentist/A Day At The Dentist/bin/ARM/Debug/UnityPlayer.dll
./Day_At_The_Dentist/A Day At The Dentist/A Day At The Dentist/bin/x64/Debug/AppX/Data/sharedassets2.assets.resS
./Day_At_The_Dentist/A Day At The Dentist/A Day At The Dentist/bin/x64/Debug/AppX/UnityPlayer.dll
./Day_At_The_Dentist/A Day At The Dentist/A Day At The Dentist/bin/x64/Debug/UnityPlayer.dll
./Day_At_The_Dentist/A Day At The Dentist/A Day At The Dentist/bin/x64/Debug/UnityPlayer_UAP_x64_Debug_dotnet.pdb
./Day_At_The_Dentist/A Day At The Dentist/A Day At The Dentist/bin/x86/Debug/AppX/Data/sharedassets2.assets.resS
./Day_At_The_Dentist/A Day At The Dentist/A Day At The Dentist/bin/x86/Debug/AppX/UnityPlayer.dll
./Day_At_The_Dentist/A Day At The Dentist/A Day At The Dentist/bin/x86/Debug/UnityPlayer.dll
./Day_At_The_Dentist/A Day At The Dentist/A Day At The Dentist/Data/sharedassets2.assets.resS
./Day_At_The_Dentist/A Day At The Dentist/bin/ARM/Debug/UnityPlayer.dll
./Day_At_The_Dentist/A Day At The Dentist/bin/x64/Debug/AppX/Data/sharedassets2.assets.resS
./Day_At_The_Dentist/A Day At The Dentist/bin/x64/Debug/AppX/UnityPlayer.dll
./Day_At_The_Dentist/A Day At The Dentist/bin/x64/Debug/UnityPlayer.dll
./Day_At_The_Dentist/A Day At The Dentist/bin/x64/Debug/UnityPlayer_UAP_x64_Debug_dotnet.pdb
./Day_At_The_Dentist/A Day At The Dentist/bin/x86/Debug/AppX/Data/sharedassets2.assets.resS
./Day_At_The_Dentist/A Day At The Dentist/bin/x86/Debug/AppX/UnityPlayer.dll
./Day_At_The_Dentist/A Day At The Dentist/bin/x86/Debug/UnityPlayer.dll
./Day_At_The_Dentist/A Day At The Dentist/Data/sharedassets2.assets.resS
./Library/PlayerDataCache/Win/Data/sharedassets2.assets.resS
./Library/PlayerDataCache/WindowsStoreApps/Data/sharedassets0.assets.resS
.vs/Day_At_The_Dentist/v15/Server/sqlite3/db.lock